
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Document repository</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>




<div class="container">
    <div class="row">


        <div class="row">
            <div class="col-md-4">
                <nav aria-label="breadcrumb">

                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List of document</li>

                    </ol>




                </nav>
            </div>
            <div class="col-md-8 right-col d-flex justify-content-end">
                Logged in: &nbsp; <label class="color-text-user" th:text="${currentUser}"/>
                &nbsp;| &nbsp; <a href="/logout">Logout</a>
            </div>
        </div>


        <br><br>

        <h2>All documents list</h2>
        <br><br>


        <table class="table table-bordered table-sm table-striped">
            <thead class="thead-inverse">
            <tr>
                <th class="dropdown" style="width: 8%">Id
                    <a th:href="@{'/documentList/sort/{sortTypeS}/{size}' (sortTypeS = 'IdAsc', size=${size})}"><img src = "/img/chevron-circle-up-solid.svg" width="20" height="20"/></a>
                    <a th:href="@{'/documentList/sort/{sortTypeS}/{size}' (sortTypeS = 'IdDesc', size=${size})}"><img src = "/img/chevron-circle-down-solid.svg" width="20" height="20"/></a>
                </th>
                <th class="dropdown" style="width: 20%">Name
                    <a th:href="@{'/documentList/sort/{sortTypeS}/{size}' (sortTypeS = 'NameAsc', size=${size})}"><img src = "/img/chevron-circle-up-solid.svg" width="20" height="20"/></a>
                    <a th:href="@{'/documentList/sort/{sortTypeS}/{size}' (sortTypeS = 'NameDesc', size=${size})}"><img src = "/img/chevron-circle-down-solid.svg" width="20" height="20"/></a>
                </th>
                <th class="dropdown" style="width: 10%">Date
                    <a th:href="@{'/documentList/sort/{sortTypeS}/{size}' (sortTypeS = 'DateAsc', size=${size})}"><img src = "/img/chevron-circle-up-solid.svg" width="20" height="20"/></a>
                    <a th:href="@{'/documentList/sort/{sortTypeS}/{size}' (sortTypeS = 'DateDesc', size=${size})}"><img src = "/img/chevron-circle-down-solid.svg" width="20" height="20"/></a>
                </th>
                <th class="dropdown" style="width: 20%">User
                    <a th:href="@{'/documentList/sort/{sortTypeS}/{size}' (sortTypeS = 'UserAsc', size=${size})}"><img src = "/img/chevron-circle-up-solid.svg" width="20" height="20"/></a>
                    <a th:href="@{'/documentList/sort/{sortTypeS}/{size}' (sortTypeS = 'UserDesc', size=${size})}"><img src = "/img/chevron-circle-down-solid.svg" width="20" height="20"/></a>
                </th>
                <th class="dropdown" style="width: 30%">Annotation
                    <a th:href="@{'/documentList/sort/{sortTypeS}/{size}' (sortTypeS = 'AnnotationAsc', size=${size})}"><img src = "/img/chevron-circle-up-solid.svg" width="20" height="20"/></a>
                    <a th:href="@{'/documentList/sort/{sortTypeS}/{size}' (sortTypeS = 'AnnotationDesc', size=${size})}"><img src = "/img/chevron-circle-down-solid.svg" width="20" height="20"/></a>
                </th>
                <th class="dropdown" style="width: 8%">Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="document: ${allDocuments}">

                <td th:text="${document.id}"></td>
                <td th:text="${document.name}"></td>
                <td th:text="${#dates.format(document.date, 'd MMM yyyy')}" style="text-align: center"></td>
                <td th:text="${document.user}"></td>
                <td th:text="${document.annotation}"></td>

                <td style="text-align: center">


                    <img src = "/img/magnifying-glass-solid.svg" width="20" height="20"
                         data-bs-toggle="modal" data-bs-target= "#myModal"
                         th:attr="onclick='javascript:getPreview(\''+${document.fileName}+'\')'" th:if="${document.viewing}"/>

                    <a th:href="@{/updateDocument(id=${document.id})}"> <img src = "/img/edit-solid.svg" width="20" height="20" th:if="${document.writing}"/></a>
                    <img src = "/img/trash-can-solid.svg" width="20" height="20" th:if="${document.deleting}" th:data-href="'/deleteDocument?id=' + ${document.id}" data-bs-toggle="modal" data-bs-target="#confirm-delete"/>
                    <a th:href="@{/settingDocument(id=${document.id})}"> <img src = "/img/gear-solid.svg" width="20" height="20" th:if="${document.setting}"/></a>
                </td>
            </tr>
            </tbody>
        </table>

        <br>


        <br>

    </div>
    <div>
        <button type="button" class="btn btn-primary" onclick="window.location.href='addDocument'" > add </button>
    </div>

    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">Number of posts: </li>
            <li th:class="${size}==3?'page-item active':'page-item'"><a class="page-link" href="/documentList?size=3">3</a></li>
            <li th:class="${size}==5?'page-item active':'page-item'"><a class="page-link" href="/documentList?size=5">5</a></li>
            <li th:class="${size}==10?'page-item active':'page-item'"><a class="page-link" href="/documentList?size=10">10</a></li>


        </ul>
    </nav>


    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">Pages:</li>
            <li th:each="item: ${itemPage}" th:class="${item.current}? 'page-item active' : 'page-item'">

                <a class="page-link" th:href="${item.current}? '#': '/documentList?page='+${item.number} + '&size=' + ${size}" th:text='${item.number+1}'>1</a>

            </li>

        </ul>
    </nav>

</div>

<div class="modal fade bs-example-modal-lg" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class = "modal-title-x"> Тестовый документ </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body-x">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirm delete</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="..\js\getPreview.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script>
    $('#confirm-delete').on('show.bs.modal', function(e) {
        console.log("!!");
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
    });
</script>

</body>


</html>